# Connecting to Magic SQL

In [ ]:
import psycopg2

In [ ]:
%load_ext sql

In [ ]:
# -- copy paste 'Script Magic Sql Database' disini

%sql postgresql://zvnmanmouvkzey:62b29d783619663d4d89bd50ed98ca99ab82022e401886e1a9c7dfeef044481f@ec2-44-195-132-31.compute-1.amazonaws.com:5432/dc9a9fgf7g46hb

'Connected: zvnmanmouvkzey@dc9a9fgf7g46hb'

# Explore the Database

In [ ]:
%%sql 

select table_name
from information_schema.tables 
where table_schema = 'public'

 * postgresql://zvnmanmouvkzey:***@ec2-44-195-132-31.compute-1.amazonaws.com:5432/dc9a9fgf7g46hb
9 rows affected.

[('dim_product_helen',),
 ('dim_product_helena',),
 ('dim_product_helen1',),
 ('dim_product_helen1_april',),
 ('dim_geography',),
 ('dim_customer',),
 ('dim_product',),
 ('fact_sales',),
 ('dim_territory',)]

#DDL

Di DDL ini kita akan memahami cara : CREATE , ALTER , DROP

![create table 2.PNG]()

Query dibawah adalah contoh saja, tidak bisa di run karena belum ada tabel dim_geography_aisyah

In [ ]:
# format 
%%sql

create table table_name_student (
  column1 int4 primary key,
  column2 varchar(30),
  column3 date,
  column4 int4,
  foreign key (column4) references dim_geography_aisyah(geography_id)
)

* First, specify the **table's name** after the CREATE TABLE keywords.
* (Optional) The **IF NOT EXISTS** option allows you to create the new table only if it does not exist. When you use the IF NOT EXISTS option and the table already exists, PostgreSQL issues a notice instead of the error and skips creating the new table.
* Third, specify a **comma-separated** list of table columns. Each column consists of the **column name**, **data type**, **the length of data**, and the column constraint.
* Finally, specify the table constraints including **primary key**, **foreign key**, and check constraints.

Selanjutnya kita akan membuat database , dimana hasil akhirnya akan seperti berikut :

![table relationship 2.PNG]()

Tidak semua Tabel akan kita buat.. Kita hanya akan membuat 2 tabel, Dim Geography, dan Dim Customer.

Menurut teman2, tabel mana yg sebaiknya lebih dulu dibuat, Dim Geography? atau Dim Customer? dengan mempertimbangkan relation antar ke 2 tabel tersebut

### ***create dim_geography***

![dim_geography.PNG]()

Create table : **dim_geography_(nickname kamu)** dengan format seperti gambar diatas..

In [ ]:
%%sql

create table dim_geography_dian (
geography_id int4 primary key,
city varchar(50),
state_province_code varchar(5), 
state_province_name varchar(50),
country_region_code varchar(5),
english_country_region_name varchar(50),
postal_code varchar(10)

)

 * postgresql://zvnmanmouvkzey:***@ec2-44-195-132-31.compute-1.amazonaws.com:5432/dc9a9fgf7g46hb
Done.

[]

In [ ]:
%%sql

select *
from dim_geography_dian

 * postgresql://zvnmanmouvkzey:***@ec2-44-195-132-31.compute-1.amazonaws.com:5432/dc9a9fgf7g46hb
0 rows affected.

[]

### ***create dim_customer***

![dim_customer.PNG]()

Create table : **dim_customer_(nickname kamu)** dengan format seperti gambar diatas.. 

untuk menghubungkan foreign key : 

**`foreign key(geography_id) references dim_geography_aisyah(geography_id)`**

In [ ]:
%%sql


create table dim_customer_dian (

  customer_id int4 primary key,
  geography_id int4,
  customer_name varchar(100),
  birthdate date,
  maritalstatus varchar(5),
  gender varchar(5),
  datefirstpurchase date,
  foreign key(geography_id) references dim_geography_dian_cartoon(geography_id)
)

 * postgresql://fwkewhtfhzrxyf:***@ec2-107-22-18-26.compute-1.amazonaws.com:5432/dbrs8ejvdch67i
Done.

[]

In [ ]:
%%sql 

create table dim_customer_anni (
customer_id int4,
customer_name varchar(100)    

)

 * postgresql://fwkewhtfhzrxyf:***@ec2-107-22-18-26.compute-1.amazonaws.com:5432/dbrs8ejvdch67i
Done.

[]

In [ ]:
%%sql

alter table dim_customer_anni add primary key (customer_id)

 * postgresql://fwkewhtfhzrxyf:***@ec2-107-22-18-26.compute-1.amazonaws.com:5432/dbrs8ejvdch67i
Done.

[]

SELECT * FROM TABLE_NAME

In [ ]:
# select * -> select semua kolom 
# from -> identify table yg diambil

%%sql

select *
from dim_geography_dian

 * postgresql://fwkewhtfhzrxyf:***@ec2-107-22-18-26.compute-1.amazonaws.com:5432/dbrs8ejvdch67i
0 rows affected.

[]

In [ ]:
%%sql


select *
from dim_customer_dian

 * postgresql://fwkewhtfhzrxyf:***@ec2-107-22-18-26.compute-1.amazonaws.com:5432/dbrs8ejvdch67i
0 rows affected.

[]

In [ ]:
%%sql

## ALTER

`ALTER TABLE table_name action;`

ALTER TABLE statement use to change the structure of an existing table, .
PostgreSQL provides you with many actions:

* Add a column
* Drop a column
* Change the data type of a column
* Rename a table
* Rename a column
* Add a constraint to a column.

source [link source](https://www.postgresqltutorial.com/postgresql-alter-table/)

Rename tabel yg sebelumnya **dim_geography_(nickname kamu)** menjadi **dim_geography_(nickname kamu)_(movie yg kamu suka)**

**ALTER TABLE** [nama table] **RENAME TO** [nama table baru]

In [ ]:
%%sql 

alter table dim_geography_dian rename to dim_geography_dian_cartoon

 * postgresql://fwkewhtfhzrxyf:***@ec2-107-22-18-26.compute-1.amazonaws.com:5432/dbrs8ejvdch67i
Done.

[]

In [ ]:
%%sql

select *
from dim_geography_dian_cartoon

 * postgresql://fwkewhtfhzrxyf:***@ec2-107-22-18-26.compute-1.amazonaws.com:5432/dbrs8ejvdch67i
0 rows affected.

[]

Tambah **kolom "address"** pada tabel **dim_geography_(nickname kamu)_(movie yg kamu suka)**

**ALTER TABLE** [nama table] **ADD COLUMN** [nama column baru] [data type + length]

In [ ]:
%%sql  

alter table dim_geography_dian_cartoon add column address varchar(50)

 * postgresql://fwkewhtfhzrxyf:***@ec2-107-22-18-26.compute-1.amazonaws.com:5432/dbrs8ejvdch67i
Done.

[]

In [ ]:
%%sql

select *
from dim_geography_dian_cartoon

 * postgresql://fwkewhtfhzrxyf:***@ec2-107-22-18-26.compute-1.amazonaws.com:5432/dbrs8ejvdch67i
0 rows affected.

[]

##DROP

`DROP TABLE [IF EXISTS] table_name `

In this syntax:

* First, specify the **table's name** that you want to drop after the DROP TABLE keywords.
* (Optional) use the IF EXISTS option to remove the table only if it exists.If you remove a table that does not exist, PostgreSQL issues an error. To avoid this situation, you can use the IF EXISTS option.

In [ ]:
%%sql

drop table dim_customer_dian

 * postgresql://fwkewhtfhzrxyf:***@ec2-107-22-18-26.compute-1.amazonaws.com:5432/dbrs8ejvdch67i
Done.

[]

#DML

## INSERT


```
INSERT INTO table_name (column_list)
VALUES
    (value_list_1),
    (value_list_2),
    ...
    (value_list_n);
```

In this syntax:

* First, specify the **table's name** that you want to insert data after the INSERT INTO keywords.
* Second, list the required columns or all columns of the table in parentheses that follow the table name.
* Third, supply a comma-separated list of rows after the VALUES keyword.

Source [link text](https://www.postgresqltutorial.com/postgresql-insert/)

![dim_customer.PNG]()

Lets Insert your table 
* Insert table **dim_customer_(nickname kamu)**  
* pada kolom customer_id, customer_name, gender ~ 1 value

In [ ]:
%%sql

insert into dim_customer_dian (customer_id, customer_name, gender) 
values
(1,'Dian','F')

 * postgresql://fwkewhtfhzrxyf:***@ec2-107-22-18-26.compute-1.amazonaws.com:5432/dbrs8ejvdch67i
1 rows affected.

[]

In [ ]:
%%sql

select *
from dim_customer_dian

 * postgresql://fwkewhtfhzrxyf:***@ec2-107-22-18-26.compute-1.amazonaws.com:5432/dbrs8ejvdch67i
1 rows affected.

[(1, None, 'Dian', None, None, 'F', None)]

Lets Insert your table 
* Insert table **dim_customer_(nickname kamu)**  
* pada kolom customer_id, customer_name, gender ~ 2 value sekaligus

In [ ]:
%%sql

insert into dim_customer_dian (customer_id, customer_name, gender)
values (2, 'Rudi', 'M')

 * postgresql://fwkewhtfhzrxyf:***@ec2-107-22-18-26.compute-1.amazonaws.com:5432/dbrs8ejvdch67i
1 rows affected.

[]

Check the table after your insert

In [ ]:
%%sql 

select *
from dim_customer_dian

 * postgresql://fwkewhtfhzrxyf:***@ec2-107-22-18-26.compute-1.amazonaws.com:5432/dbrs8ejvdch67i
2 rows affected.

[(1, None, 'Dian', None, None, 'F', None),
 (2, None, 'Rudi', None, None, 'M', None)]

## UPDATE

UPDATE statement allows you to modify data in a table. The following illustrates the syntax of the UPDATE statement:



```
UPDATE table_name
SET column1 = value1,
    column2 = value2,
    ...
WHERE condition;
```

In this syntax:

* First, specify the **table's name** that you want to update data after the UPDATE keyword.
* Second, specify columns and their **new values after SET keyword**. The columns that do not appear in the SET clause retain their original values.
* Third, determine **which rows to update** in the condition of the WHERE clause.

Let's Update your row
* Update customer_name yg sudah dibuat sebelumnya menjadi nama yg lain, untuk customer_id = 1

In [ ]:
%%sql

UPDATE dim_customer_dian 
SET customer_name = 'Dian A.R'
WHERE customer_id = 1

 * postgresql://fwkewhtfhzrxyf:***@ec2-107-22-18-26.compute-1.amazonaws.com:5432/dbrs8ejvdch67i
1 rows affected.

[]

In [ ]:
%%sql 

select *
from dim_customer_dian

 * postgresql://fwkewhtfhzrxyf:***@ec2-107-22-18-26.compute-1.amazonaws.com:5432/dbrs8ejvdch67i
4 rows affected.

[(2, None, 'Rudi', None, None, 'M', None),
 (3, None, 'Saras', None, None, 'F', None),
 (4, None, 'Rudi', None, None, 'M', None),
 (1, None, 'Dian A.R', None, None, 'F', None)]

##DELETE

The PostgreSQL DELETE statement allows you to delete one or more rows from a table.

The following shows basic syntax of the DELETE statement:



```
DELETE FROM table_name
WHERE condition;
```

In this syntax:

* First, specify the **table's name** from which you want to delete data after the DELETE FROM keywords.
* Second, **use a condition in the WHERE clause** to specify which rows from the table to delete.
* The WHERE clause is optional. If you omit the WHERE clause, the DELETE statement will delete all rows in the table.

Source [link text](https://www.postgresqltutorial.com/postgresql-delete/)

Let's delete your row
* Delete row where customer_id = 1

In [ ]:
%%sql 

delete from dim_customer_dian 
where customer_id = 1

 * postgresql://fwkewhtfhzrxyf:***@ec2-107-22-18-26.compute-1.amazonaws.com:5432/dbrs8ejvdch67i
1 rows affected.

[]

Check the table after your delete syntax

In [ ]:
%%sql 

select *
from dim_customer_dian

 * postgresql://fwkewhtfhzrxyf:***@ec2-107-22-18-26.compute-1.amazonaws.com:5432/dbrs8ejvdch67i
3 rows affected.

[(2, None, 'Rudi', None, None, 'M', None),
 (4, None, 'Rudi', None, None, 'M', None),
 (3, None, 'Saras A', None, None, 'F', None)]

## SELECT

One of the most common tasks, when you work with the database, is to query data from tables by using the SELECT statement.

Lets start with the basic form of the SELECT statement that retrieves data from a single table.

The following illustrates the syntax of the SELECT statement:



```
SELECT
   column_list
FROM
   table_name;
```

In [ ]:
%%sql 

select *
from dim_customer_dian

 * postgresql://fwkewhtfhzrxyf:***@ec2-107-22-18-26.compute-1.amazonaws.com:5432/dbrs8ejvdch67i
4 rows affected.

[(2, None, 'Rudi', None, None, 'M', None),
 (4, None, 'Rudi', None, None, 'M', None),
 (3, None, 'Saras A', None, None, 'F', None),
 (1, None, 'Dian', None, None, 'F', None)]

In [ ]:
%%sql 

select customer_id, customer_name
from dim_customer_dian
group by 1,2
order by 2

 * postgresql://fwkewhtfhzrxyf:***@ec2-107-22-18-26.compute-1.amazonaws.com:5432/dbrs8ejvdch67i
4 rows affected.

[(1, 'Dian'), (4, 'Rudi'), (2, 'Rudi'), (3, 'Saras A')]

in more complex query, the format will be

In [ ]:
%%sql

SELECT [nama kolom]
FROM [nama table]
WHERE [filter]
GROUP BY [nama kolom]
ORDER BY [nama kolom]
LIMIT [jumlah baris]

* SELECT -> mendefinisikan kolom yg akan ditampilkan
* FROM -> menspesifikasikan tabel yg digunakan
* WHERE -> melakukan filter baris sesuai kondisi tertentu
* GROUP BY -> grouping baris yg memiliki value sama pada kolom tertentu
* ORDER BY -> menyusun urutan baris
* LIMIT -> membatasi jumlah baris

#Assignment

Sebelum mengerjakan assignment, pastikan tabel dim_geography dan dim_customer Kamu sudah di hapus ya dengan run statement : 

`DROP TABLE table_name`

## Question 1

Create 1 buah tabel bernama **dim_product_namakamu** dengan detail sebagai berikut (pada gambar).

Jadikan product_id PRIMARY KEY dari table

![dim_product.PNG]()

In [ ]:
# jawaban 

%%sql

create table dim_product_helen1 (
product_id int4 primary key,
product_name varchar(100),
model_name varchar(100),
color varchar(30),
size_range varchar(30),
cost numeric(10),
normal_price numeric(10),
sub_category varchar(100),
category varchar(100)

)

 * postgresql://zvnmanmouvkzey:***@ec2-44-195-132-31.compute-1.amazonaws.com:5432/dc9a9fgf7g46hb
(psycopg2.errors.DuplicateTable) relation "dim_product_helen1" already exists

[SQL: create table dim_product_helen1 (
product_id int4 primary key,
product_name varchar(100),
model_name varchar(100),
color varchar(30),
size_range varchar(30),
cost numeric(10),
normal_price numeric(10),
sub_category varchar(100),
category varchar(100)

)]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [ ]:
%%sql

select *
from dim_product_helen1

 * postgresql://zvnmanmouvkzey:***@ec2-44-195-132-31.compute-1.amazonaws.com:5432/dc9a9fgf7g46hb
5 rows affected.

[(1, 'Atasan', 'Blouse', 'Sage', 'M', Decimal('90000'), Decimal('100000'), 'Balon', 'Baju Wanita'),
 (5, 'Bawahan', 'Celana', 'Army', 'XL', Decimal('115000'), Decimal('130000'), 'Jeans', 'Baju Pria'),
 (4, 'Atasan', 'Blouse', 'Blue', 'M', Decimal('85000'), Decimal('90000'), 'Crop', 'Baju Wanita'),
 (2, 'Atasan', 'Kemeja', 'Red', 'S', Decimal('95000'), Decimal('110000'), 'Balon', 'Baju Wanita'),
 (3, 'Bawahan', 'Rok', 'Cream', 'L', Decimal('90000'), Decimal('110000'), 'Kulot', 'Baju Wanita')]

Selanjutnya, select ALL pada tabel yg baru saja kamu buat

In [ ]:
# jawaban 

%%sql

select *
from dim_product_helen1

 * postgresql://zvnmanmouvkzey:***@ec2-44-195-132-31.compute-1.amazonaws.com:5432/dc9a9fgf7g46hb
5 rows affected.

[(1, 'Atasan', 'Blouse', 'Sage', 'M', Decimal('90000'), Decimal('100000'), 'Balon', 'Baju Wanita'),
 (5, 'Bawahan', 'Celana', 'Army', 'XL', Decimal('115000'), Decimal('130000'), 'Jeans', 'Baju Pria'),
 (4, 'Atasan', 'Blouse', 'Blue', 'M', Decimal('85000'), Decimal('90000'), 'Crop', 'Baju Wanita'),
 (2, 'Atasan', 'Kemeja', 'Red', 'S', Decimal('95000'), Decimal('110000'), 'Balon', 'Baju Wanita'),
 (3, 'Bawahan', 'Rok', 'Cream', 'L', Decimal('90000'), Decimal('110000'), 'Kulot', 'Baju Wanita')]

## Question 2

Ubahlah nama tabel dim_product_namakamu kedalam **dim_product_namakamu_bulanlahir**

In [ ]:
# jawaban 

%%sql

alter table dim_product_helen1 rename to dim_product_helen1_april

 * postgresql://zvnmanmouvkzey:***@ec2-44-195-132-31.compute-1.amazonaws.com:5432/dc9a9fgf7g46hb
(psycopg2.errors.DuplicateTable) relation "dim_product_helen1_april" already exists

[SQL: alter table dim_product_helen1 rename to dim_product_helen1_april]
(Background on this error at: https://sqlalche.me/e/14/f405)

Selanjutnya, select ALL pada tabel yg baru saja kamu update

In [ ]:
# jawaban 

%%sql

select *
from dim_product_helen1_april

 * postgresql://zvnmanmouvkzey:***@ec2-44-195-132-31.compute-1.amazonaws.com:5432/dc9a9fgf7g46hb
0 rows affected.

[]

## Question 3

Insert 5 value berbeda kedalam semua kolom pada **dim_product_namekamu**.

In [ ]:
# jawaban 

%%sql

insert into dim_product_helen1 (product_id, product_name, model_name, color, size_range, cost, normal_price, sub_category, category) 
values
(1,'Atasan','Blouse','Sage','M',90000,100000,'Balon','Baju Wanita'),
(2,'Atasan','Kemeja','Red','L',95000,110000,'Balon','Baju Wanita'),
(3,'Bawahan','Celana','Cream','L',90000,110000,'Kulot','Baju Wanita'),
(4,'Atasan','Blouse','Red','M',85000,90000,'Crop','Baju Wanita'),
(5,'Bawahan','Celana','Army','XL',115000,130000,'Jeans','Baju Pria');

 * postgresql://zvnmanmouvkzey:***@ec2-44-195-132-31.compute-1.amazonaws.com:5432/dc9a9fgf7g46hb
5 rows affected.

[]

Selanjutnya, select ALL pada tabel yg baru saja kamu buat

In [ ]:
# jawaban 

%%sql

select *
from dim_product_helen1

 * postgresql://zvnmanmouvkzey:***@ec2-44-195-132-31.compute-1.amazonaws.com:5432/dc9a9fgf7g46hb
5 rows affected.

[(1, 'Atasan', 'Blouse', 'Sage', 'M', Decimal('90000'), Decimal('100000'), 'Balon', 'Baju Wanita'),
 (5, 'Bawahan', 'Celana', 'Army', 'XL', Decimal('115000'), Decimal('130000'), 'Jeans', 'Baju Pria'),
 (4, 'Atasan', 'Blouse', 'Blue', 'M', Decimal('85000'), Decimal('90000'), 'Crop', 'Baju Wanita'),
 (2, 'Atasan', 'Kemeja', 'Red', 'S', Decimal('95000'), Decimal('110000'), 'Balon', 'Baju Wanita'),
 (3, 'Bawahan', 'Rok', 'Cream', 'L', Decimal('90000'), Decimal('110000'), 'Kulot', 'Baju Wanita')]

## Question 4

Buatlah sebuah 3 jenis query UPDATE untuk mengganti isian baris dari beberapa kolom. 

Buat masing-masing query melakukan edit untuk baris yg berbeda.

In [ ]:
#Update 1

%%sql

UPDATE dim_product_helen1 
SET color = 'Blue'
WHERE product_id = 4

 * postgresql://zvnmanmouvkzey:***@ec2-44-195-132-31.compute-1.amazonaws.com:5432/dc9a9fgf7g46hb
1 rows affected.

[]

In [ ]:
#Update 2

%%sql

UPDATE dim_product_helen1 
SET size_range = 'S'
WHERE product_id = 2

 * postgresql://zvnmanmouvkzey:***@ec2-44-195-132-31.compute-1.amazonaws.com:5432/dc9a9fgf7g46hb
1 rows affected.

[]

In [ ]:
#Update 3

%%sql

UPDATE dim_product_helen1 
SET model_name	 = 'Rok'
WHERE product_id = 3

 * postgresql://zvnmanmouvkzey:***@ec2-44-195-132-31.compute-1.amazonaws.com:5432/dc9a9fgf7g46hb
1 rows affected.

[]

Selanjutnya, select ALL pada tabel yg baru saja kamu buat

In [ ]:
# jawaban 

%%sql 

select *
from dim_product_helen1

 * postgresql://zvnmanmouvkzey:***@ec2-44-195-132-31.compute-1.amazonaws.com:5432/dc9a9fgf7g46hb
5 rows affected.

[(1, 'Atasan', 'Blouse', 'Sage', 'M', Decimal('90000'), Decimal('100000'), 'Balon', 'Baju Wanita'),
 (5, 'Bawahan', 'Celana', 'Army', 'XL', Decimal('115000'), Decimal('130000'), 'Jeans', 'Baju Pria'),
 (4, 'Atasan', 'Blouse', 'Blue', 'M', Decimal('85000'), Decimal('90000'), 'Crop', 'Baju Wanita'),
 (2, 'Atasan', 'Kemeja', 'Red', 'S', Decimal('95000'), Decimal('110000'), 'Balon', 'Baju Wanita'),
 (3, 'Bawahan', 'Rok', 'Cream', 'L', Decimal('90000'), Decimal('110000'), 'Kulot', 'Baju Wanita')]

# Install Database

In [ ]:
%%sql

CREATE TABLE public.dim_geography (
	geography_id int4 primary key,
	city varchar(50),
	state_province_code varchar(5),
	state_province_name varchar(50),
	country_region_code varchar(5),
	english_country_region_name varchar(50),
	postal_code varchar(10)
);

 * postgresql://zvnmanmouvkzey:***@ec2-44-195-132-31.compute-1.amazonaws.com:5432/dc9a9fgf7g46hb
(psycopg2.errors.DuplicateTable) relation "dim_geography" already exists

[SQL: CREATE TABLE public.dim_geography (
	geography_id int4 primary key,
	city varchar(50),
	state_province_code varchar(5),
	state_province_name varchar(50),
	country_region_code varchar(5),
	english_country_region_name varchar(50),
	postal_code varchar(10)
);]
(Background on this error at: https://sqlalche.me/e/14/f405)